<%- include('partials/header'); -%>
<div class="container text-center">
  <div class="img-thumbnail mx-auto mt-5" style="width:70%;height:420px;"> 
   <h1><%=campground.name%></h1>
   <p><%=campground.description%></p>
   <img style="width:65%; height:300px;" src="<%=campground.image%>">
  </div>
</div>   

<%- include('partials/footer') -%>