<%- include('partials/header'); -%>
<div class="container text-center">
   <h1><%=campground.name%></h1>
   <p><%=campground.description%></p>
   <img style="width:70%; height:400px;" src="<%=campground.image%>">
</div>   

<%- include('partials/footer') -%>