<%- include('../partials/header'); -%>
<div class="container mt-5">
    <h1 class="text-center mb-5">Walcome to the Campground's world</h1>
    <div class="row">
        <%camps.forEach(function(camp){ %>
            <div class="col-lg-3 col-md-6" style="margin-bottom:20px;">
                <div class=" img-thumbnail text-center">
                    <img src="<%= camp.image %>">
                    <div class=".caption">
                        <p><%= camp.name %></p> 
                        <p><%=camp.description.substring(0, 30)%><a href="/campgrounds/<%=camp._id%>"> Read More...</a></p>
                    </div>
                    <p>
                       <a class="btn btn-sm btn-primary text-white" href="/campgrounds/<%=camp._id%>">More</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
    <a href="/campgrounds/new" class="text-center">Add new Campground</a>
</div>

<%- include('../partials/footer') -%>